.main-all-valley {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin-top: 75px;
    margin-bottom: 75px;
    height: 200px;

    img {
        height: 100px;
        width: 200px;
    }

    .videos {
        height: 100px;
        width: 200px;
    }
}

.div-torneo {
    text-align: left;

    .campeones-all-valley {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100px;
            height: 100px;
        }
    }
}

.li-lawrence {
    background-color: black;
    border: 4px solid yellow;
    width: 400px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-larusso {
    border: 4px solid orange;
    color: orange;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-xander {
    background-color: blue;
    border: 4px solid red;
    width: 400px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-diaz {
    background-color: black;
    border: 4px solid yellow;
    width: 400px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-hawk {
    border: 4px solid orange;
    color: orange;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-nichols {
    background-color: black;
    border: 4px solid yellow;
    width: 400px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}